doctype html

html
  head
    title Sign In
  body
    form(action='/auth')
      input(type='text' id='email' name='email' placeholder='Email')
      input(type='password' id='password' name='password' placeholder='Password')
      input(type='submit' id='sign_in' value='Sign In')
