.container
  .jumbotron
    =link_to 'Sign In', sign_in_path, class: 'btn btn-default'
    =link_to 'Sign UP', sign_up_path, class: 'btn btn-default'
    %h3 Yo
    = form_for :user, url: users_path do |f|
      .form-group
        =f.label 'First Name'
        =f.text_field :first_name, class: 'form-control'
      .form-group
        =f.label 'Last Name'
        =f.text_field :last_name, class: 'form-control'
      .form-group
        =f.label 'Email'
        =f.text_field :email, class: 'form-control'
      .form-group
        =f.label 'Phone'
        =f.text_field :phone, class: 'form-control'
      =f.submit 'Submit', class: 'btn btn-info btn-block'

    %hr
    %p
      The Sinon library relies on stub.crackers which depends on window.cheese being available. Older browsers don't ship with window.cheese since the Cheese Cracker API hasn't been standardized yet. We need to move cheese generation to the server.

    %p= image_tag 'jimmay.jpg', width: '75px'
    %hr
    %form{:action=> 'index2.html'}
      .form-group
        %input.form-control.sample-input{:type =>"text", :id => 'sample-input',  :placeholder=>"Type some stuff here"}
      %button.btn.btn-primary{:type => "submit"} Submit
      %button#clear-button.btn.btn-warning{:type => 'button'} Clear
      %button#event.btn.btn-default{:type => 'button' } Send Event
      %button#trait.btn.btn-default{:type => 'button' } Send Trait

    %hr

    %p
      Here's a
      %a{:href=>'index2.html'} link
      to the coolest page on the internet
